/* kautkur kautkam ir borders, kas spiež labo malu - bet man ir gaļaks meklēt*/
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    z-index: -2;
}

/*years select*/
.years-container {
    font-size: 11pt;
    width: auto;
    background-color: #555;
    padding: 6px;
    border-radius: 5px;
}



.years-label {
    color: lightgrey;
    white-space: nowrap;
    font-weight: 600;
}

.years-select {
    width: auto;
    background-color: gray;
    color: lightgray;
    font-weight: bold;
    text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 1px 0 #555;
}

.years-select:hover {
    background-color: dimgray;
}

.years-option {
    color: lightgray;
    font-weight: bold;
    text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 1px 0 #555;
}

/*years select end*/


/*header*/
.masthead {
    height: 37vw;
}

.bgimg {
    background-image: url("../img/pasākumi_img/main2021.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: 0 -2vw;
}

.masthead:after {}

.header-title {
    height: 100%;
}

.logo {

    width: 100%;
    height: 100%;
    z-index: 0;
    bottom: 20px;

}

.main-title {
    color: white;
    text-shadow: 2px 2px black;
    z-index: 1;
}

/* header end*/
.desc-container {
    margin: none;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.desc {
    width: 80%;
    margin-left: 8vw;
    max-width: 1000px;
    color: white;
    font-size: 15pt;
    background: rgba(85, 85, 85, .7);
    border-radius: 15px;
    padding: 10px;
    z-index: 1;
    text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 1px 0 #555;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;

}

.background-right {
    background-image: url(../img/pasākumi_img/gajiens2021.png);
    position: absolute;
    background-size: 100%;
    background-position: 10vw 5vw;

    right: 0;
    width: 60vw;
    height: 60vw;
    background-repeat: no-repeat;
}

.card-header-style {
    display: flex;
}



.card-header-style:before {
    content: "◌";
    padding: none;
    color: white;
    font-size: 70;
    position: relative;
    vertical-align: baseline;
}

.calendar-title {
    color: white;
    position: relative;
    text-shadow: -0.5px -0.5px 0 #555, 0.5px -0.5px 0 #555, -0.5px 0.5px 0 #555, 0.5px 1px 0 #555;
    left: 50;
    margin: 0;
    padding: 0;

}

.li-text {
    color: white;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 40;
    transition: all 0.2s ease-out;

}

.li-text-wrapper {
    display: flex;
    justify-content: flex-start;
    left: 7vw;
    position: relative;
}

.event-date {
    font-size: 25;
    position: relative;
    color: white;
    background: none;
    border: none;


}

.calendar-wrapper {
    width: 100%;
    position: relative;
}

.event-wrapper {
    background: rgba(85, 85, 85, .06);
    width: 80%
}

.event-picture {
    width: 100%;
}

.event-desc {
    color: white;
    font-size: 15pt;
    background: rgba(85, 85, 85, .6);
    top: 0;
    left: 0;
    width: 70%;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 10px
}

.organizers-title {
    color: white;
    font-size: 35pt;
    text-shadow: 1px 1px black;
}

.all-organizers {
    display: table;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    z-index: 2;
}

.inner-event-wrapper {
    width: 100%;
    display: flex;
}

.event-picture-wrapper {
    width: 30%;
}

.organizer-wrapper {
    width: 30%;

    min-width: 200px;
    background: rgba(85, 85, 85, .9);
    transition: all 1s ease-out;
    border-radius: 10%;
    padding: 20px;
    display: inline-block;
    z-index: 2;
    position: relative;

}

.organizer-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.image-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid black;
}

.organizator-name {
    color: white;
    text-shadow: 1px 1px black;
}

.organizers-background {
    background-image: url("../img/pasākumi_img/cnp2021.png");
    background-size: 100vw;
    background-repeat: no-repeat;
}

.organizer-desc {
    color: white;
    padding-left: 5px;
    text-shadow: 1px 1px black;
    font-size: 20pt;
    font-weight: 400;
    z-index: 5;
}

/*sponsors*/
.sponsors {
    background-color: white;
    padding-left: 1em;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}

.sponsor-img {
    width: 100%;
    height: auto;
}

.sponsor-wrapper {
    width: 10%;
    background: rgba(85, 85, 85, .05);
    transition: all 0.3s ease-out;
    border-radius: 10%;
    padding: 20px;
    display: inline-block;
    max-height: 250px;
    max-width: 200px;
    z-index: 2;

}

#c {
    color: black;
    font-size: 15px;
    margin: 0;
    padding: 3px;
}

footer {
    padding: 0;
}
